<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CE6851C4D36D4FD93E1E1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11BD4EEAA557475F340E8EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158DB95478CE0442B42A5ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F1FDCC6B397E5FF4FFE4F63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44392186D0A653BA45BC6AF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D2245605C681C78DA796F0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E4C5C9F014B0011FF894DC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51DE6DB38ED9A3F27B2C2442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58210C80510EA2886DCD3299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74926CF00EC0741BFD9F64CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>776837B2EAF1AF49315513AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8506C4A560EB258C5F3013E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AB0F5F189BD86EF4FF034DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4D2B0023F3F22FB4327A7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8FBF15FA9A2CF13C43FBE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA32DB83575E0E549B487CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8622C7A7F8211082E5F2D3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD177DD7C7DEF1F60745AC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74D4D350013458C1DFBA2C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F9EF78D081CD9EB0E5B7C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
